Scrape/output.json
Scrape/output.txt
Scrape/codinitscrape/cookies.json
Scrape/spider_log.txt
RetrievelAugmented/data/*.pdf
RetrievelAugmented/data/*.txt
RetrievelAugmented/chroma/*
venv
PreProcessor/output.json
CodeInit-sanad
